@model MVC_Task.DB.Models.CourseResult

@{
    ViewData["Title"] = "CourseResult Details";
}

<h2>CourseResult Details</h2>

<div class="card">
    <div class="card-body">
        <p class="card-text"><strong>Degree:</strong> @(Model.Degree.HasValue ? Model.Degree.Value.ToString("F2") : "N/A")</p>
        <p class="card-text"><strong>Trainee:</strong> @(Model.Trainee != null ? Model.Trainee.Name : "N/A")</p>
        <p class="card-text"><strong>Course:</strong> @(Model.Trainee != null ? Model.Course.Name : "N/A")</p>
        <a asp-action="Edit" asp-route-id="@Model.Id" asp-controller="CourseResult" class="btn btn-primary">Edit</a>
        <a asp-action="Index" asp-controller="CourseResult" class="btn btn-secondary">Back to List</a>
    </div>
</div>
