@model MVC_Task.DB.Models.Course

<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="Degree" class="form-label"></label>
    <input asp-for="Degree" class="form-control" />
    <span asp-validation-for="Degree" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="MinDegree" class="form-label"></label>
    <input asp-for="MinDegree" class="form-control" />
    <span asp-validation-for="MinDegree" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="DepartmentId" class="form-label">Department</label>
    <select asp-for="DepartmentId" class="form-select" asp-items="ViewBag.Departments">
        <option value="">-- Select Department --</option>
    </select>
    <span asp-validation-for="DepartmentId" class="text-danger"></span>
</div>
