@model MVC_Task.DB.Models.Course

@{
    ViewData["Title"] = "Create Course";
}

<h2>Create Course</h2>

<form asp-action="Create" method="post" asp-controller="Course">
    <partial name="_CourseForm" />
    <br />
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
